<html layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<div layout:fragment="content" class="container my-3">
    <div class="row">
        <div class="col-6">
            <h4>자유게시판</h4>
        </div>
        <div class="col-6">
            <form th:action="@{/post/list}" method="get">
                <div class="input-group">
                    <input type="text" id="keyword" name="keyword" class="form-control" th:value="${param.keyword}" placeholder="검색어를 입력해주세요">
                    <button type="submit" class="btn btn-outline-secondary" style="margin-top:0;">검색</button>
                </div>
            </form>
        </div>
    </div>
    <table class="table">
        <thead class="table-dark">
        <tr>
            <th scope="col">번호</th>
            <th scope="col" style="width:40%">제목</th>
            <th scope="col">작성자</th>
            <th scope="col">작성일</th>
            <th scope="col">조회수</th> <!-- 조회수 컬럼 추가 -->
        </tr>
        </thead>
        <tbody>
        <tr th:each="post : ${postList}">
            <td th:text="${post.id}"></td>
            <td>
                <a th:text="${post.title}" th:href="@{|/post/detail/${post.id}|}"></a>
                <span class="text-primary small ms-2"
                      th:if="${#lists.size(post.commentList) > 0}"
                      th:text="${#lists.size(post.commentList)}">
                </span>
            </td>
            <td>
                <span th:if="${post.author != null}" th:text="${post.author.username}"></span></td>
            <td th:text="${#temporals.format(post.createDate, 'yyyy-MM-dd HH:mm')}"></td>
            <td th:text="${post.viewCount}"></td> <!-- 조회수 표시 -->
        </tr>
        </tbody>
    </table>
    <!--  페이지네이션 시작  -->
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li class="page-item" th:classappend="${pageable.pageNumber == 0} ? 'disabled'">
                <a class="page-link" th:href="@{/post/list(page=0)}" aria-label="First">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item" th:classappend="${!pageable.hasPrevious()} ? 'disabled'">
                <a class="page-link" th:href="@{/post/list(page=${pageable.pageNumber - 1})}" aria-label="Previous">
                    <span aria-hidden="true">이전</span>
                </a>
            </li>
            <li class="page-item" th:each="i : ${#numbers.sequence(startPage, endPage)}" th:classappend="${i == pageable.pageNumber + 1} ? 'active'">
                <a class="page-link" th:href="@{/post/list(page=${i - 1})}" th:text="${i}">1</a>
            </li>
            <li class="page-item" th:classappend="${pageable.pageNumber + 1 == lastPage} ? 'disabled'">
                <a class="page-link" th:href="@{/post/list(page=${pageable.pageNumber + 1})}" aria-label="Next">
                    <span aria-hidden="true">다음</span>
                </a>
            </li>
            <li class="page-item" th:classappend="${pageable.pageNumber + 1 == lastPage} ? 'disabled'">
                <a class="page-link" th:href="@{/post/list(page=${lastPage - 1})}" aria-label="Last">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
    <!--  페이지네이션 끝  -->
    <a type="button" class="btn btn-primary" href="/post/write">게시글 작성</a>
</div>
</html>